<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  </title>

  <meta name="description" content="{{ site.description | default: 'Personal portfolio of John Doe' }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pIXfSd0ZpGgVQGv9b+ukdxbYF9bBlt3F4iAfDdc0AGJi/7luWGINuD/7++UZ5EKeosFVJeM3PcT6L/3xqkG8NA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


